#http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository
#http://www.sonatype.com/people/2009/09/maven-tips-and-tricks-using-github/
.svn
*.[oa]
*~
test_logs
exec_logs
target
data
src/test/generated
src/main/generated

